/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear {
  clear: both; }

.yellow {
  color: #F5A623; }

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

.disappear {
  display: none; }

.bg-box.m-top {
  margin-top: 20px; }

.checkbox {
  width: 20px;
  height: 20px; }

.complete {
  text-decoration: line-through; }

.active {
  color: white;
  border-bottom: black 2px solid; }

.wrap .header {
  width: 100%;
  height: 80px;
  background: #4A90E2; }
  .wrap .header ul {
    width: 620px;
    margin: 0 auto; }
    .wrap .header ul li {
      float: left;
      margin-right: 9%; }
      .wrap .header ul li a {
        display: block;
        line-height: 70px;
        font-size: 24px;
        color: black;
        font-weight: bolder;
        text-decoration: none;
        height: 78px;
        width: 150px;
        text-align: center; }

.wrap .container {
  width: 100%;
  background: #E1E1E1;
  overflow: hidden;
  padding-bottom: 600px; }
  .wrap .container ::-webkit-input-placeholder {
    color: #C8C8C8; }
  .wrap .container .slidebox {
    width: 40%;
    background: #F2F2F2;
    margin: 0 auto;
    margin-top: 20px; }
    .wrap .container .slidebox i {
      padding: 20px; }
  .wrap .container .bg-box {
    width: 40%;
    background: #F2F2F2;
    margin: 0 auto;
    margin-top: 20px; }
    .wrap .container .bg-box .bg-title {
      height: 76px;
      font-size: 24px;
      font-weight: bolder;
      line-height: 76px;
      border-bottom: black solid 1px;
      padding-left: 20px; }
      .wrap .container .bg-box .bg-title .icon {
        float: right;
        padding-right: 10px;
        line-height: 76px; }
        .wrap .container .bg-box .bg-title .icon i {
          padding-left: 10px; }
    .wrap .container .bg-box .bgcontent .bgtextbox {
      padding-left: 50px; }
      .wrap .container .bg-box .bgcontent .bgtextbox h2 {
        font-size: 20px;
        font-weight: bolder; }
    .wrap .container .bg-box .bgcontent button {
      width: 50%;
      height: 50px;
      margin-top: 20px;
      background: #FFFFFF;
      font-size: 20px;
      font-weight: bolder; }
    .wrap .container .bg-box .bgcontent button:hover {
      background: #4A90E2; }

.wrap .li-list {
  width: 40%;
  background: #E1E1E1;
  margin: 0 auto; }
  .wrap .li-list ul {
    margin: 20px 0; }
    .wrap .li-list ul li {
      border: 1px solid black;
      background: #F2F2F2;
      margin: 5px 0;
      font-size: 20px;
      font-weight: bolder;
      line-height: 35px;
      padding-left: 20px; }
      .wrap .li-list ul li .icon {
        float: right;
        padding-right: 10px; }
        .wrap .li-list ul li .icon i {
          padding-left: 10px; }
      .wrap .li-list ul li span {
        padding-left: 20px; }
