@import "grid";
@mixin hidetext{
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
}
@mixin larg-font{
    color: #6f4d41;
    font-size: 22px;
    font-weight: bolder;
}
@mixin m-font{
    color: #6f4d41;
    font-size: 20px;
}
@mixin s-font{
    color: #6f4d41;
    font-size: 16px;
}
.img{
    max-width: 100%;
}
.clearfix{
    clear: both;
}
.wrap{
    width: 100%;
}
.header{
    background:black;
   
    height: 50px;
   
    @include ipone{
        width: 100%;
        height: auto;
        background: black;
    }
    h1{
        @include hidetext();
        float: left;
        padding-top: 10px;
        padding-left: 10px;
        width: 200px;
        @include ipone{
            width: 125px;
            margin: 0 auto;
            float: none;
            padding: 10px 0 0 0;
        }
        a{
            display: block;
            background:url(../img/logo_w@svg.svg)no-repeat;
            width: 200px;
            height: 40px;  
            @include ipone{
                width: 100%;
                height: 40px;
                display: block;
            }
        }
    }
    
    ul{
        float: right;
        margin-right: 30px;
        @include ipone{
            float:none;
            margin: 0px;
        }
        li{
            float: left;
            @include ipone{
                float:none;
            }
            a{
                display: block;
                text-decoration: none;
                color: white;
                width: 60px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                @include ipone{
                    float:none;
                    width: 100%;
                    height: 50px;
                }
             }
            a:hover{
                color: yellow;
                background:peru;
            }
        }
    }
   
}
 .banner{
        position: relative;
        z-index: 999;
        height: 400px;
        background: url(../img/header_desktop.png)no-repeat;
        background-position: center center;
        background-color: black;
        @include ipone{
            background: url(../img/header_mobile.png);
            width: 100%;
        }
        .bannertext{
            position: absolute;
            left: 35%;
            top: 30%;
            z-index: -1;
            text-align: center;
            width: 30%;
            height: 200px;
            margin: 0 auto;
            color: white;
            background:rgba($color: #000000, $alpha: 0.5);
            @include ipone{
                display: none;
            }
            h2{
                @include m-font();
                padding-top: 15%;
                color: white;
                @include ipone{
                    display: none;
                }
            }
        }
    }
.footer{
    background: #efe9e7;
    height: 250px;
    @include ipone{
        width: 100%;
        height: auto;
    }
    ul{
        padding: 50px 0 0 30px;
        @include ipone{
            padding: 10px 0;
            padding-right:0px;
           
        }
        li{
        float: left;
        width: 300px;
        padding-right: 50px;
        @include ipone{
            float: none;
            width: 100%;
            padding:0;
            text-align: center;
        }
            h2{
                @include larg-font();
                padding-top:15px; 
            }
            p{
                @include s-font();
            }
        }
        .contact{
            padding-top: 20px;

            @include ipone{
                padding:10px 0;
            }
            li{
                @include s-font();
                list-style: square;
                padding-bottom: 5px;
               
            }
        }
    }
    .icon{ 
        float: right;
        padding-top: 0;
        padding-right: 50px;
            @include ipad{
                float: none;
                width: 100%;
                text-align: center;
                padding-right: 0px;
            }
            @include ipone{
                float:none;
                width: 100%;
                padding-right: 0px;

            }
            li{
                width: 100%;
                padding: 0;
                float: none;
                @include ipad{
                    width: 100%;
                    padding-top: 10px;
                }
            }
             h1{
                @include hidetext();
                
                @include ipad{
                    padding: 0;
                    width: 100%;
                    text-align: center;
                }
                @include ipone{
                    padding: 0;
                    width: 100%;
                }
                a{
                    display: block;
                    background: url(../img/logo_l@svg.svg)no-repeat;
                    width: 245px;
                    height: 50px;
                    @include ipad{
                        width: 100%;
                        background-position: center center;
                    }
                    @include ipone{
                        width: 100%;
                        height: 80px;
                        margin: 0 auto;
                        background-position: center center;
                    }
                } 
            }
            h2{
                text-align: right;
                @include m-font();
                padding-bottom:10px; 
                @include ipone{
                    text-align: center;
                }
            }
            span{
                float: right;
                padding-top: 10px;
                @include ipad{
                    float: none;
                }
                @include ipone{
                    float: none;
                }
                img{
                    max-width: 90%;
                }
            }
        
        }
}
.content{
    
}
body{
   @include ipone{
       position: relative;
       
   }

}

  