<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist</title>
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="wrap" id="app">
        <div class="header">
            <ul>
                <li><a href="#">My Task</a></li>
                <li><a href="#">In Progress</a></li>
                <li><a href="#">Completed</a></li>
            </ul>
    </div>
    <div class="clear"></div>
    <div class="container">
        <div class="bg-box">
            <div class="bg-title">
                <input type="checkbox" name="" id=""  ><input type="text" style="width: 300px;" v-model="newtodoTitle">
                <div class="icon">
                    <i class="far fa-star"></i>
                    <i class="fas fa-pencil-alt"></i>
                </div>
            </div>
            <div class="bgcontent">
                <div class="bgtextbox">
                    <h2><i class="fas fa-calendar-plus"></i>&nbsp Deadline</h2><br>
                    <input type="text" placeholder="YYYY/MM/DD"v-model="newTodoTime1" style="margin-left: 20px"><input type="text" placeholder="HH/MM" style="margin-left: 5px" v-model="newTodoTime2">
                    <br>
                    <br>
                    <h2><i class="far fa-file"></i>&nbsp File</h2>
                    <br>
                    <i class="far fa-plus-square" style="padding-left: 25px;
                    font-size: 25px;"></i>
                    <br>
                    <br>
                    <h2><i class="far fa-comment-dots"></i>&nbsp Commemt</h2>
                    <br>
                    <input type="text" placeholder="Type ur memo" style="margin-left: 20px; width: 400px; padding-bottom: 100px;" v-model="comment">
                </div>
                <button @click="remove"><i class="far fa-trash-alt"></i>&nbsp Cancle</button><button @click="add" @:keyup.enter="add"><i class="fas fa-plus"></i>&nbsp Add Task</button>
            </div>
        </div>
        <div class="li-list">
            <ul>
                <li v-for="(item, key) in todo">
                    <input type="checkbox" name="" :id="item.id">{{item.title}} 
                    
                    <div class="icon">
                        <i class="far fa-star"></i>
                        <i class="fas fa-pencil-alt"></i>
                        <i class="fas fa-trash-alt" @click="remove(key)"></i>
                    </div>
                    <div class="clear"></div>
                    <span :for="item.id"><i class="fas fa-calendar-plus"></i>{{item.time}}</span>
                </li>
                <!-- <li>
                    <input type="checkbox" name="" id="">Type Something Here
                    <div class="icon">
                            <i class="far fa-star"></i>
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                </li>
                <li>
                    <input type="checkbox" name="" id="">Type Something Here
                    <div class="icon">
                            <i class="far fa-star"></i>
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                </li>
                <li>
                    <input type="checkbox" name="" id="">Type Something Here
                    <div class="icon">
                            <i class="far fa-star"></i>
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                </li>
                <li>
                    <input type="checkbox" name="" id="">Type Something Here
                    <div class="icon">
                            <i class="far fa-star"></i>
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                </li> -->
            </ul>
        </div>
    </div>
    </div>
    <script src="../js/all.js"></script>
</body>
</html>